.tag_title {
    font-weight: 600;
    font-size: 18px;
    color: var(--c1-a);
    margin-bottom: 20px;
}


.tag_link {
    border-radius: 12px;
    padding: 4px 10px;
    width: 58px;
    height: 26px;
    background: var(--c1-f);
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.tag_list {
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
}

.tags_link {
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-a);
}